VITE_MODELSCOPE_API_BASE=https://api-inference.modelscope.cn/v1
VITE_MODELSCOPE_TOKEN=ms-e3c17580-d0d3-42a0-ba46-aec598db02c8
VITE_SUPABASE_PROJECT_URL=https://twwidfdamehykgxsdoqz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_r4fPj84rXIociUo5Qgizmw_V_W2dhVL
